# ============================================
# SERVIDOR
# ============================================
PORT=3000
HOST=0.0.0.0
NODE_ENV=development
# Comma-separated list of allowed origins (e.g., http://localhost:5173,https://example.com)
ALLOWED_ORIGINS="http://localhost:5173"

# ============================================
# UPLOADS
# ============================================
UPLOAD_DIR="./uploads"

DATABASE_URL="database_url_here"

JWT_SECRET= "your_jwt_secret_here"

GOOGLE_CLIENT_ID="154858001748-hck3jpog2bp8iii4odtnekbi6r9sbujv.apps.googleusercontent.com"